body {font: 12px Arial;}
a{text-decoration: none; color: #00a340;cursor: pointer}
a:hover {text-decoration: none; color: #71bf44;}
A.splCont:link, A.splCont2:link, A.splLink_close:link, A.splLink:link, A.splLink2:link, A.zakaz:link, A.search_button:link, A.want:link{text-decoration: none}
A.splCont:visited, A.splCont2:visited, A.splLink_close:visited, A.splLink:visited, A.splLink2:visited, A.zakaz:visited, A.search_button:visited, A.want:visited {text-decoration: none}
A.splCont:active, A.splCont2:active, A.splLink_close:active, A.splLink:active, A.splLink2:active, A.zakaz:active, A.search_button:active, A.want:active {text-decoration: none}
A.splCont:hover, A.splCont2:hover, A.splLink_close:hover, A.splLink:hover, A.splLink2:hover, A.zakaz:hover, A.search_button:hover, A.want:hover {text-decoration: none}
A.mail {font: 22px Arial; color: #00a340; text-decoration: none;}
A.mail:hover {font: 22px Arial; color: #71bf44; text-decoration: none}
#splCont{display:none;}
#splCont2{display:none;}
#green {color: #00a340; font: bold 12px Arial; text-decoration: none}
a#green:hover {color: #71bf44; font: bold 12px Arial; text-decoration: none}
H1, H2, H3, H4 {margin-top: 0px; margin-bottom: 0px; padding-left: 0px; padding-right: 0px;font: 24px Georgia; color: #00a340;}
H1.subject {font: 28px Georgia;color:#000;}
B#h2 {font: 24px Georgia; color: #00a340; border-bottom: 1px dashed #00a340}
B#h2:hover {font: 24px Georgia; color: #71bf44; border-bottom: 1px dashed #71bf44}
H4 {font: 18px Georgia; color: #00a340;}
TR.shap {font: bold 12px Arial; color: #00a340; background-color: #ccefc1;}
TR.g {background-color: #fffde7 }
TR.w {background-color: #fefefc}
TR.g, TR.w {height: 35px; vertical-align: middle; text-align: left;}
TR.subshap {height: 22px;}
TD.No {background-color: #06B9FC; text-align: center; vertical-align: middle; color: white;}
TD.place {background-color: #ccefc1; vertical-align: middle; padding-left: 10px; color: #009d3a; font: bold 16px Arial; height: 35px; border-bottom: 1px dashed #ccc;}
TD.proper {width: 300px;border-bottom: 1px dashed #ccc;border-right: 1px dashed #ccc;}
TD.properb {width: 300px; border-right: 1px dashed #ccc;padding-left: 20px;vertical-align: middle; }
TD.a {text-align: center; vertical-align: middle}
TD.al {text-align: center; vertical-align: middle; border-bottom: 1px dashed #ccc;}
TD.ab {text-align: center; vertical-align: middle; border-right: 1px dashed #ccc;}
TD.alb {text-align: center; vertical-align: middle;}
TD.z {text-align: center; color: #00a340; font: bold 12px Arial;}
TD.s {text-align: center}
TD.z, TD.k , TD.a, TD.s {width: 40px; height: 30px; vertical-align: middle; border-bottom: 1px dashed #ccc; border-right: 1px dashed #ccc; }TD.m {width: 62px; height: 30px; text-align: center; vertical-align: middle; border: 1px solid #ededed;}TD.n {width: 62px; height: 30px; vertical-align: middle; border: 1px solid #ededed; padding-left: 15px;}TD.proper {vertical-align: middle; padding-left: 15px;}
TD.zb {text-align: center; color: #00a340; font: bold 12px Arial; border-right: 1px dashed #ccc; vertical-align: middle;}
TD.k {width: 67px; padding-left: 20px}
TD.k1 { padding-left: 20px; border-bottom: 1px dashed #ccc;border-right: 1px dashed #ccc;vertical-align: middle;}
TD.kl { padding-left: 20px; border-bottom: 1px dashed #ccc;vertical-align: middle;vertical-align: middle;}
TD.kb { padding-left: 20px;  border-right: 1px dashed #ccc;vertical-align: middle;}
TD.kb1 { padding-left: 20px;vertical-align: middle;}
TD.find {}
DIV.l {}
DIV.page {width: 757px; padding-left: 20px; padding-right: 20px;}
DIV.subsub_search {text-align: center;}
DIV.number {width: 220px; height: 60px; background: url(../images/phone.png) no-repeat; margin-top: 20px;}
DIV.mail {width: 300px; height: 60px; background: url(../images/mail.png) no-repeat;cursor: pointer; margin-top: 20px;}
DIV.download{width: 220px; height: 60px; background: url(../images/pdf.png) no-repeat;cursor: pointer; margin-top: 20px;}
DIV.download:hover {width: 220px; height: 60px; background: url(../images/pdf_h.png) no-repeat;cursor: pointer;margin-top: 20px;}
DIV.zakaz {width: 220px; height: 60px; background: url(../images/button_z.png) no-repeat;margin-top: 20px;}
DIV.zakaz:hover {width: 220px; height: 60px; background: url(../images/button_z_h.png) no-repeat; margin-top: 20px;}
DIV.subshap {width: 750px; height: 20px; background: url(../images/subshap.png) no-repeat; padding-left: 10px; padding-top: 5px; color: #fff; font: bold 12px Arial;}
DIV#search_fon {background:url(../images/fon_search.png); width: 444px; height: 93px; text-align: center}
INPUT#search_button {
	background:url(../images/button_search.png);
	width: 79px;
	height: 25px;
	text-align: center;
	color: black;
	font: bold 14px Arial;
	border: 0px;
}
INPUT#check {width: 310px; height: 18px; margin-right: 7px;}
DIV.ram {border-radius: 5px; border: 2px solid #e2e2e2; padding: 18px; padding-top: 20px; background-color: #fffde7;}
DIV.req {padding-top: 20px;}
DIV.info {padding-top: 20px;}
DIV.hide {font: 14px Arial; padding-top: 17px; border-bottom: 1px dashed #00a340; width:145px;}
a.hide{font: 14px Arial; color: #71bf44;padding-top: 17px; border-bottom: 1px dashed #71bf44}
DIV.want {float:right; margin-left: 2px; margin-top: 17px; width:185px; height: 37px; background:url(../images/button_want.png) right top no-repeat;}
DIV.want:hover {margin-left: 2px; margin-top: 17px; height: 37px; background:url(../images/button_want_h.png) right top no-repeat;}
DIV.link {padding-top: 26px;}
DIV.desc2 {width: 757px;}
DIV.check {width: 757px; padding-top: 20px;}
DIV.more {text-align: center; padding-left: 10px;}
DIV.abc {padding-top: 32px;}
DIV.edfg {padding-top: 21px;}
DIV.btable {padding-top: 13px;}
DIV.img {margin-top: 5px;}
B.want {float: right; margin-top: 6px; margin-right: 15px; color: #fff; text-shadow: #000 1px 1px; font: 14px Arial;}
B.mail {padding-right: 0px;float: right;}
B.number {font: 22px Arial; color: black; padding-right: 0px;float: right;}
B.zakaz {font:  16px Arial; float: right; color: #ffffff; text-shadow: #000 1px 1px; padding: 20px 20px;}
B.up {font: bold 12px Arial; border: 1px solid #05b9fc; padding: 16px; padding-top: 5px; padding-bottom: 5px; background-color: #05b9fc; color: white;}

P {font: 12px Arial;}
P.info {font: 12px Arial; color: #ACACAA}
H2.c {font: 18px Arial; padding-top: 10px; padding-bottom: 7px}
H2.c2 {font: 18px Arial; padding-bottom: 7px}
P.title {color: #00a340; font: bold 14px Arial; padding-left: 5px;}
P.desc {padding-top: 4px;}
a.download {font: 12px Arial; color: #00a340; text-decoration: none; float: right; padding: 20px 0px;cursor: pointer;}
a.download:hover {font: 12px Arial; color: #71bf44; text-decoration: none; float: right; padding: 20px 0px; cursor: pointer;}
TABLE.btable {width: 757px; font: 12px Arial; border: 1px solid #ededed; border-bottom: 2px solid #00a340; }
TABLE.rtable {width: 757px; font: 12px Arial; border: 1px solid #ededed; margin-top: 0px;  border-bottom: 2px solid #00a340;}
TABLE.edfg {width: 757px; padding-top: 20px}
TABLE.abc {width: 757px; padding-top: 20px}
IMG {border: 0px;}
